{% load static %}
<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Home Discover, Check and Secure Your Texts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#000000" />
        <meta
            name="description"
            content="Join our community to discover text thieves with a click. Sign in or sign up to discover text thieves with a click, or verify the originality of your content. Start checking now!"
        />
    </head>
    <body>
        <h1 class="column__title ui heading size-headings-home">
            welcome Student!
        </h1>
    </body>
</html>